<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Startup Landing Page</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    <style>
      .content {
        max-width: 600px;
        margin: auto;
        padding: 30px 10px;
      }
      .text-center {
        text-align: center;
      }
    </style>
</head>
<body>
  <div class="content">
    <h1 class="text-center">Startup Landing Page</h1>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
          <p>Coming soon.</p>
          <p>Please sign up to be notified when we launch.</p>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">

            <form class="pure-form pure-form-stacked" method="POST" action="{{ url_for(request.endpoint) }}">
              <fieldset>
                  {{ form.csrf_token }}
                  {{ form.name.label }}
                  {{ form.name(size=20) }}
      
                  {{ form.email.label }}
                  {{ form.email(size=20) }}
        
                  <button type="submit" class="pure-button pure-button-primary">Submit</button>
                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                      {{ message }}
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              </fieldset>
          </form>
        </div>
    </div>
  </div>
</body>
</html>